
<nav>
    <div class="main-content"></div>
        <ul>
            <li><a href="/">Inicio</a></li>
            {{#each integrantes}}
                <li><a href="javascript:void(0);" onclick="cargarIntegrante('{{matricula}}')">{{nombre}} {{apellido}} - {{matricula}}</a></li>
            {{/each}}

            {{#unless ocultarLinkInfoCurso}}
                <li><a href="/InfoCurso">Información del Curso</a></li>
            {{/unless}}

            {{#unless ocultarLinkWordCloud}}
                <li><a href="/WordCloud">Word Cloud</a></li>
            {{/unless}}    
        </ul>
</nav>
