<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Página de Steven Lopez</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
    
        body {
            font-family: 'Noto Sans', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #FFFFFF; /* Blanco */
            color: #c7a9d0;
        }

        nav {
            background-color: #261d57;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 20px;
        }
    
        header, footer {
            background-color: #1d2857; 
            color: #FFFFFF; /* Blanco para el texto */
            padding: 20px 0;
            text-align: center;
            animation: fadeIn 2s ease-out;
        }

        .nav-links {
            display: flex;
            list-style: none;
        }

        .nav-links li {
            margin: 0 10px;
        }

        .nav-links li a {
            background-color: #aa98da;
            color: #FFFFFF;
            text-decoration: none;
            padding: 10px 15px;
            border-radius: 5px;
            transition: background-color 0.3s;
        }

        .nav-links li a:hover {
            background-color: #8783b8;
        }
        .nav-links {
            background-color: #281480;
            padding: 10px 20px;
            text-align: center;
        }

        .nav-links {
            display: flex;
            justify-content: center; /* Centrar los elementos de navegación */
            align-items: center;
            list-style: none;
            padding: 0;
        }

        .nav-links li {
            margin: 0 10px;
        }
    
        h1, h2 {
            margin: 20px 0;
        }
    
        section {
            margin: 20px auto;
            padding: 20px;
            background-color: #a298da; 
            color: #FFFFFF; 
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            max-width: 800px;
            animation: slideIn 1s ease-out;
        }
    
        iframe, img {
            display: block;
            max-width: 100%;
            margin: 20px auto;
            border-radius: 5px;
        }
    
        img {
            animation: rotate 10s infinite linear;
        }
    
        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }
    
        @keyframes slideIn {
            0% {
                transform: translateY(20px);
                opacity: 0;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
            }
        }
    
        @keyframes rotate {
            0% { transform: rotate(0deg); }
            50% { transform: rotate(5deg); }
            100% { transform: rotate(0deg); }
        }
        
        
        li a {
            display: inline-block;
            padding: 7px 13px; 
            font-size: 12px; 
            background-color: #e0e0e0; 
            border-radius: 8px; 
            box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2); 
            transition: transform 0.2s ease, background-color 0.3s ease; 
            color: #555555; 
        }

        li a:hover, li a:focus {
            transform: translateY(-3px); /* Efecto "pop up" al pasar el ratón */
            background-color: #5950d8; 
            color: white; 
        }

}</style>
</head>
<body>
    <nav>
        <ul class="nav-links">
            <li><a href="../../index.html">Inicio</a></li>
            <li><a href="../Y25366/index.html">Christian Salinas - Y25366</a></li>
            <li><a href="../Y18624/index.html">Lujan Caceres - Y18624</a></li>
            <li><a href="../3850665/index.html">Marcio Saldivar - 3850665</a></li>
            <li><a href="../info_curso/index.html">Información del Curso</a></li>
            <li><a href="../wordcloud/index.html">Word Cloud</a></li>
        </ul>
    </nav>

    <header>
        <h1>Steven Lopez</h1>
        <p>Matrícula: Y12887</p> 
    </header>
    <section>
        <h2>Video Favorito</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0aQPX_Iqu-A?si=yrpnMk0IUVFkQtif" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </section>

    <section>
        <h2>Imagen Representativa</h2>
        <img src="../../images/mejores-anime-largos.webp" alt="animes">
    </section>

    <section>
        <h2>Mi Dibujo</h2>
        <img src="../../images/20240410_192335.jpg" alt="Dibujo de Steven">
    </section>

    <footer>
    </footer>
</body>
</html>